@import 'bootstrap/scss/bootstrap';

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .container{
    display: grid;
  }

  section{
     width: 100%
  }

  .logo_branco{
    position: absolute;
    width: 55vw;
    top: 6vw;
    left: 25vw;
  }
  
  .text-center{
    text-align: center;
    font-weight: bold;
  }
  .text-center_vend{
    text-align: center;
  }
  
  p{
    font-size: 7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: #58595B;
    border-color: 10px solid #000;
  }

  .icones {
    text-align: center;
    //display: flex;
    //justify-content: center;
  }

  .icones a { 
    padding: 0px;
  }

  .icones a img{
   width: 20%;
  }

  .footer {
    display: inline-flex;
    bottom: 0;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

  div.dedo{
    text-align: center;
  }

  img.dedo{
    width: 50%;
  }

  .bot{
    //margin-top: 10px;
    //float: right;
    //margin-left: 40%;
  }

  .footer_curved { 
    width: fit-content;
  }

  .fale_conosco { 
    text-align: center;
    font-size: 3vw; 
    color: #09337a;
    width: 20%;
    height: 2%;
    font-weight: bold;
    margin-top: 7%;
  }


  @media (max-width: 468px) {
    .curved-div ~ .footer{
      display: inline-flex;
      position: fixed;
    }

  }


  @media print { 

    @page {
      /*size: 4in 6in landscape; */ 
      /*size: 8.5in 11in portrait;*/ 
      size: 0mm 16mm 16mm 0mm; 
    }
    
    html, body{
      padding: 0;
      margin: 0;
      height: 100%;
    }
  
    .container{
      display: grid;
    }
  
    section{
       width: 100%
    }
  
    .logo_branco{
      position: absolute;
      width: 55vw;
      top: 6vw;
      left: 25vw;
    }
    
    .text-center{
      text-align: center;
      font-weight: bold;
    }
    .text-center_vend{
      text-align: center;
    }
    
    p{
      font-size: 7vw;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      color: #58595B;
      border-color: 10px solid #000;
    }
  
    .icones {
      text-align: center;
      //display: flex;
      //justify-content: center;
    }
  
    .icones a { 
      padding: 0px;
    }
  
    .icones a img{
     width: 20%;
    }
  
    .footer {
      display: inline-flex;
      bottom: 0;
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
  }
  
    div.dedo{
      text-align: center;
    }
  
    img.dedo{
      width: 50%;
    }
  
    .bot{
      //margin-top: 10px;
      //margin-left: 40%;
    }
    
    .footer_curved { 
      width: 100%;
      text-align: center;
    }

    .fale { 
      text-align: center;
    }

    .fale .fale_conosco { 
      color: #09337a;
    }
}
